[submodule "apps/worldcup"]
	path = apps/worldcup
	url = git@github.com:alexnastetsky/worldcup-pool.git
[submodule "apps/todolist"]
	path = apps/todolist
	url = git@github.com:alexnastetsky/todolist.git
